.bg-navbar{
    background-color: #221d21;
}
.nav-link-space{
    margin: 0 25px;
}
.link-decoration-none{
    list-style: none;
    margin: 25px 0;
}
.ft-centered{
    text-align: center;
}
#Welcome h1
{
    text-align: center;
}
.card{
    border: none;
    margin: 0 auto;
}
.ImgSise{
    width: auto;
    height: 15rem;
}
#Table-position{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.bgPersonalised{
    background-color: rgba(0,0,0, 0.5) !important;
}
.btnColor{
    margin: 0 auto;
    background-color: #616161;
    color: white;
}
.FormCompra{
    width: fit-content;
    margin: 0 auto;
    padding: 1%;
    border: 1px solid black;
}
.FormCompra form .inptSise{
    width: 55%;
}
.FormCompra .rdSise{
    width: 5%;
}
.FormCompra .Spaced{
    margin-bottom: 2.5%;
}
.Error
{
    color: red;
}
#Comprovacion{
    border: 1px solid black;
}
